<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
<h2>Task Dashboard</h2>
<a href="/logout">Logout</a>

<form action="/add" method="post">
<input type="text" name="task" placeholder="Enter Task">
<button type="submit">Add Task</button>
</form>

<ul>
{% for task in tasks %}
<li>
{{task}}
<a href="/delete/{{loop.index0}}">Delete</a>
</li>
{% endfor %}
</ul>

</div>
</body>
</html>